<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">

<Properties>
    <Property name="basePath">./lags</Property>
  </Properties>  
  
  <Appenders>
    <Console name="file" target="SYSTEM_OUT">
      <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
    </Console>
  </Appenders>
  <Loggers>
    <Root level="Info"> 
      <AppenderRef ref="file"/>
    </Root>
  </Loggers>
</Configuration>